<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Covid-19 Tracking</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/info-page">Information</button>
        <button mat-button routerLink="/tracing-page">Track</button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
        <button mat-card-avatar mat-fab class="user-header-image"></button>
    </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 25px 25px 25px 25px;">
    <router-outlet></router-outlet>
</div>